// React Slider CDNJS
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css');


// Colors

$bg-color : #E2E0FF;
$dark-blue-color : #0a075f;
$blue-color : #242565;
$color-black : #000;
$color-gray : #a5a5a5;
$color-white : #fff;
$color-purple :#5522CC;
