#footer{
    background-color: $dark-blue-color;
    color: #F3F3F3;
    

    .container{
        display: flex;
        align-items: center;
        padding: 1rem 0;
        gap: 24px;


        .col{
            flex: 1;

            &.col-1{
                .logo{
                    width: 100px;
                    height: 100px;
                }

            }

            &.col-2{
                h4{
                    font-size: 18px;
                    color: $color-white;
                    font-weight: 700;
                    text-transform: uppercase;
                    margin-bottom: 1rem;
                    text-align: center;
                }

                ul{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 12px;
                    li{
                        color: inherit;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 2;

                    }
                }

            }
        }

     
    }

}