.navbar {
  background-color: $color-purple;
  color: $color-white;
position: sticky;
top: 0;
left: 0;
right: 0;
z-index: 10000;

 


  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    .logo {
      height: 100px;
      width: 120px;
      flex-shrink: 0;
    }

    .links {
      display: flex;
      gap: 24px;

      a {
        color: inherit;

        &.active{
          padding-bottom: .4rem ;
          border-bottom: 1px solid $color-gray;
        }

        &:hover {
          opacity: 0.6;
        }
      }
    }

    .hamburger-btn {
      display: none;
    }
  }
}

@media (max-width: 478px) {
  .navbar {

    .container {

      .links {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        right: -500px;
        bottom: -140%;
        transform: translateY(50%);
        background-color: $color-gray;
        width: 200px;
        border-radius: 12px;
        padding: 2rem 1rem;
        transition: all .3s ease-in ;
        z-index: 1000;
        &.active{
          right: 50px;
        }

        a{
          width: 100%;
          text-align: center;
          padding: .5rem 0;


        }
      }

      .hamburger-btn {
        display: block;
      }
    }
  }
}
